body {
	/*Default body has margin and padding sometimes */
	margin: 0;
	padding: 0;
	background: #fafafa;
	font: 14px/20px 'Helvetica' sans-serif;
	width: 960px;
}

ul {
	padding-left:0;
}

a{
	text-decoration: none;
}

a:visited {
	color: pink;
}

.top-bar {
	border: 1pt solid #1e8564;
	background-color: black;
	padding: 20px;
	color:white;
}

.title-name {
	display: inline-block;
	padding-left: 30px;
	color: white;
}

.top-links {
	float:right;
}

.nav-link {
	display: inline-block;
	margin: 20px;
	color: white;
	font-weight: normal;
	font-size: small;
	text-align: center;
	list-style: none;
}

.big-heading {
	height: 150px;
	display: block;
	background: #fafafa;
	font: 'Helvetica';
	font-size: x-large;
	font-weight: normal;
	text-align: center;
	padding-top: 40px;
	color: black;
}


p {
margin-bottom: 10px;
}


.i-a {
	position: absolute;
	font-weight: normal;
	font-size:small;
	top: 20px;
	right: 300px;
}


.i-b {
	display: inline-block;
	padding: 10px;
	width: 200px;
	height: 100px;
	border: 1pt solid #eee;
	background-color: #ddd;
	line-height: 100px;
	text-align: center;
	font-size: 30px;
}